{% extends "parent2.html" %}
{% load static %}
{% block main3 %}


<div class="row p-0 " style="min-height: 100%; background-color:#192f59; ;">
    <img src="{% static 'images/pp5.jpg'%}" class="d-block w-100 " alt="..." height="800px"
        style="padding: 0px; opacity: 0.5;">

</div>
<div class="container-fluid mb-5 py-5 px-4">
    <div class="row py-5">
        <div class="col-7 ">
            <div class="row ">

                <div class="col-1"></div>
                <div class="col-11 " style="color: #8c9fbb;">
                    <div class="row ">
                        <div class="col-2 "><b class="">DESCRIPTION</b> </div>
                        <div class="col-5 ms-4" style="height: 2px; margin-top:12px; background-color: #50bd77;"></div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11 fs-3"> <b>ABOUT <span style="color: #45a06e;">NOU-e GYAN PORTAL</span> </b></div>
            </div>
            <div class="row p-4 px-5 " style="font-size: 14px;font-weight: 500;color: #2f2f2f;">
                <p>Nalanda Open University welcomes all our students, faculties & study centres to the very new &
                    innovative online study portal NOU e-Gyan. The portal is a unique initiative by Hon'ble
                    Vice-Chancellor Prof. (Dr.) K C Sinha, which aims at providing online study material to the students of NOU.</p>
                <p>The portal is accessible from any hook and corner of the world if the system allows the permission to
                    its users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve
                    h as E-content Distribution, Delivery, Tracking, Assessment, Progress
                    Monitoring & Controlling of all stakeholders of the system i.e. students, teachers, study centre
                    administrators as well as Nalanda Open University Admins when they are at a distance.</p>

            </div>


        </div>
        <div class="col-5"><a href=""><img src="{% static 'images/abt.webp' %}" alt="" height="280vh" width="420vh"
                    style="border-radius: 5px;"></a></div>
    </div>
    
    
<div class="container-fluid">
    <div class="row ">
       
        <div class="col-6 p-0 " style="padding: 0px;"><img src="{% static 'images/scr2.png' %}" alt="" class="img-fluid" > </div>
        <div class="col-6 p-5" style="background-color: #f2f2f2;">


            <div class="row mt-5"><h1><i class="fa-solid fa-graduation-cap"></i></h1></div>
            <div class="row fs-3"><b>Graduation</b></div>
            <div class="row"><p style="color: #6b6b6b;">Campus on a tour designed for prospective graduate and professional students. You will see how our university like, facilities, studenst and life in this university. Meet our graduate admissions representative to learn more about our graduate programs and decide what it the best for you.</p></div>
        </div>
        
    </div>
    <div class="row " >
         <div class="col-6 p-5" style="background-color: #f2f2f2;">
            
            <div class="row mt-5"><h1><i class="fa-solid fa-school-flag"></i></h1></div>
            <div class="row fs-3"><b>Special Campus Tour</b></div>
            <div class="row"><p style="color: #6b6b6b;">Campus on a tour designed for prospective graduate and professional students. You will see how our university like, facilities, studenst and life in this university. Meet our graduate admissions representative to learn more about our graduate programs and decide what it the best for you.</p></div>

            
        
        </div>
        <div class="col-6 p-0" style="padding: 0px;"> <img src="{% static 'images/scr1.png' %}" alt="" class="img-fluid"></div>
       
    </div>
   
    <div class="row ">
        
        <div class="col-6 p-0 " style="padding: 0px;"> <img src="{% static 'images/scr3.png' %}" alt="" class="img-fluid"></div>
        <div class="col-6 p-5 " style="background-color: #f2f2f2;">

            <div class="row mt-5"><h1><i class="fa-solid fa-people-group"></i></h1></div>
            <div class="row fs-3"><b>Powerful Alumni</b></div>
            <div class="row"><p style="color: #6b6b6b;">Campus on a tour designed for prospective graduate and professional students. You will see how our university like, facilities, studenst and life in this university. Meet our graduate admissions representative to learn more about our graduate programs and decide what it the best for you.</p></div>
        </div>
        
    </div>


</div>
<div class="row px-4 pt-5">
    <div class="row ps-5">

        <div class="col-11 " style="color: #8c9fbb;">
            <div class="row">

                <div class="col-2"><b class="">OUR MENTORS</b> </div>
                <div class="col-4 "
                    style="height: 2px; margin-top:12px; background-color: #50bd77; margin-left: 0px;"></div>
                <div class="col-4"></div>
            </div>
        </div>

    </div>
    <div class="row ps-5">

        <div class="col-10 fs-4 "> <b>ADMINISTRATIVE <span style="color: #45a06e;">SETUP</span> </b></div>
    </div>
    <div class="row pt-4">

        <div class="col-3 adm "><img src="{% static 'images/ad1.png' %}" alt="" height="210vh" width="205vh"
                class="adm2"></div>
        <div class="col-3 adm"><img src="{% static 'images/ad2.png' %}" alt="" height="210vh" width="205vh"
                class="adm2"></div>
        <div class="col-3 adm"><img src="{% static 'images/ad3.png' %}" alt="" height="210vh" width="205vh"
                class="adm2"></div>
        <div class="col-3 adm"><img src="{% static 'images/ad4.png' %}" alt="" height="210vh" width="205vh"
                class="adm2"></div>

    </div>
</div>

</div>




{% block wave %}
<div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
</div>

{% endblock wave %}
<style>
    .adm {
        padding: 20px;


    }

    .adm2 {
        margin-left: 25px;
        border: 1px solid rgb(212, 208, 208);

    }

    div .adm img:hover {
        padding: 5px;
        background-color: #192f59;
        opacity: 0.8;
    }
</style>



{% endblock main3 %}