{% extends "parent2.html" %}
{% load static %}
{% block main3 %}
<style>
.harsuu{
    background-image:url('static/images/col2.jpg');
    position: relative;
}
.jhon .col-3{
    padding: 15px;
   
}
</style>


<div class="container-fluid m-0 p-0 " style="height: 100vh;position:relative; top:0px;">
    <div class="row harsuu"  style="height: 600px; background-color:#0e1d38;opacity: 0.8;"><img src="{% static 'images/bb2.jpg'%}" alt=""  style="padding: 0px; height: 600px;opacity: 0.7;"></div>
    <div class="row harsuu"  style="height: 200px;"></div>
    
    
    <div class="row p-5" style=" height: 100vh; position:absolute; top:10px">
        <h1 class="text-center" style="color: #ffffff;text-shadow: 0 0 10px #fff700 ; font-weight: bold;">DISCOVER NALANDA UNIVERSITY</h1>
        <b class="text-center text-light">Interdisciplinarity is at the core of the Nalanda Curriculum. Our programmes are designed to encourage experiential learning, promote original research and develop innovative ideas</b>
        <div class="col-6"><img src="{% static 'images/r1.png'%}" alt="" class="img-fluid"></div>
        <div class="col-6"><img src="{% static 'images/r2.png'%}" alt="" class="img-fluid"></div>
    </div>
</div>
<div class="container-fluid jhon">
    <div class="row pt-5 text-center">
        <h1 class="" style="font-weight: bold; color: #002d47;">GALLERY : EMERGING CAMPUS</h1>
        <b>Nalanda: Transformation of an Idea into Reality in past 4 years under the leadership of Hon'ble Vice Chancellor Prof. Sunaina Singh</b>
    </div>
    <div class="row pt-4">
        <div class="col-3"><img src="{% static 'images/gl7.png'%}" alt="" height="100%" width="100%" class="img-fluid"></div>
        <div class="col-3"><img src="{% static 'images/gl6.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
        <div class="col-3"><img src="{% static 'images/gl1.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
        <div class="col-3"><img src="{% static 'images/gl4.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
    </div>

    <div class="row ">
        <div class="col-3"><img src="{% static 'images/gl16.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
        <div class="col-3"><img src="{% static 'images/gl8.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
        <div class="col-3"><img src="{% static 'images/gl17.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
        <div class="col-3"><img src="{% static 'images/gl9.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
    </div>
</div>
<div class="container-fluid jhon pb-5 mt-4">
    <div class="row  text-center">
        <h1 class="" style="font-weight: bold; color: #002d47;">Student Gallery</h1>
        <b>Students are encouraged to participate in Student Societies and Clubs during the course of study at Nalanda.</b>
    </div>
    <div class="row pt-4">
        <div class="col-3"><img src="{% static 'images/gl12.png'%}" alt="" height="100%" width="100%" class="img-fluid"></div>
        <div class="col-3"><img src="{% static 'images/gl13.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
        <div class="col-3"><img src="{% static 'images/gl14.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
        <div class="col-3"><img src="{% static 'images/gl15.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
    </div>

    <div class="row ">
        <div class="col-3"><img src="{% static 'images/gl11.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
        <div class="col-3"><img src="{% static 'images/gl19.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
        <div class="col-3"><img src="{% static 'images/gl18.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
        <div class="col-3"><img src="{% static 'images/gl10.png'%}" alt="" height="200px" width="100%" class="img-fluid"></div>
    </div>
</div>




{% endblock main3 %}