{% extends "studentparent.html" %}
{% block body %}
{% if messages %}
{% for msg in messages %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Hey bro!</strong> {{msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}


{% endif %}

<div class="col-sm-12 text-dark px-5">
    <h2 style="margin-left: 50px;">Question: {{ques.question}}</h2>


</div>
<div class="container-fluid ">
    <div class="row px-5">
<form action="{% url 'studentapp:postans' %}" class="form-group bg-light mt-5" method="post">
    {% csrf_token %}


    <table class="table bg-light text-dark shadow rounded" style="width: 90%; margin: 0 auto;">
        <tr>
            <td class="fs-6 text-center">Post Your Answer </td>
            <td>
                <textarea name="answer" id="" cols="" rows="" placeholder="Write your Answer here"
                    class="form-control bg-light text-primary" style="height: 16vh;" required></textarea>

            </td>
        </tr>

        <tr>
            <td> <input type="hidden" name="qid" value="{{qid}}"></td>
            <td> <button class="btn btn-outline-light px-3 fs-6" style="background-color:  #192f59;;"
                    type="submit">Post</button></td>
        </tr>
        </table>
</form>
</div>
</div>

        {% endblock body %}