{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">News & Events</h1>   

    </div>
    </div>
    <div class="col-md-12">
        <form action="{% url 'adminapp:newsevent' %}" method="post">
            {% csrf_token %}
        <label for="validationCustom05" class="form-label ">Notifications:</label>
        <textarea name="notification" class="form-control text-light" placeholder="Add New Notifications" style="opacity: 0.8"></textarea>
        <div class="col-12 mb-5">
            <button class="btn  px-4 mt-3" type="submit" style="background-color:#3db166; float: right;">Add</button>
        </form>
        </div>
 

        <div class="invalid-feedback">
            Please provide a valid zip.
        </div>
    </div>
    <div class="container text-light">
        <table>
            {% for n in noti %}
            <tr class="text-light">
                <td >{{n.notification}}</td>
                <td ><a href="">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock body %}
